{% extends 'staff/base.html' %}
{% block title %}ماهوت کالکشن | تنظیمات{% endblock %}

{% block content %}
<div class="d-none">{% block settings %}active{% endblock %}</div>
<div class="content">
    <div class="container-fluid">
            <div class="card col-10 mx-auto">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">تنظیمات عمومی</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>عنوان سایت</label>
                            <p class="form-control">{{settings.site_title}}</p>
                        </div>
                        <div class="col-md-6">
                            <label>توضیحات متا</label>
                            <p class="form-control">{{settings.site_description|default_if_none:'ثبت نشده'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="bg-dark p-3 rounded">
                                <label>لوگوی سایت</label>
                                <img src="{{settings.site_logo.url}}" class="mx-2" style="max-width:120px; min-width:120px">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg-dark p-3 rounded">
                                <label>نمادک</label>
                                <img src="{{settings.site_favicon.url}}" class="mx-2" style="max-width:120px">
                            </div>
                        </div>
                    </div>
                    
                    
                    <label class="mt-4">درباره وبسایت</label>
                    <p class="form-control h-auto" style="line-height: 1.4rem;">{{settings.site_about|default_if_none:'ثبت نشده'}}</p>

                    <div class="row">
                        <div class="col-md-6">
                            <label>درباره وبسایت</label>
                            <p class="form-control h-auto" style="line-height: 1.4rem;">{{settings.site_phone|default_if_none:'ثبت نشده'}}</p>
                        </div>
                        <div class="col-md-6">
                            <label>درباره وبسایت</label>
                            <p class="form-control h-auto" style="line-height: 1.4rem;">{{settings.site_phone_2|default_if_none:'ثبت نشده'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>آدرس</label>
                            <p class="form-control h-auto" style="line-height: 1.4rem;">{{settings.site_address|default_if_none:'ثبت نشده'}}</p>        
                        </div>
                        <div class="col-md-6">
                            <label>ایمیل</label>
                            <p class="form-control h-auto" style="line-height: 1.4rem;">{{settings.site_email|default_if_none:'ثبت نشده'}}</p>
                        </div>
                    </div>
                    <h4 class="mt-5 py-3">شبکه های اجتماعی</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <label>اینستاگرام</label>
                            <p class="form-control h-auto">{{social_media_setting.instagram|default_if_none:'ثبت نشده'}}</p>        
                        </div>
                        <div class="col-md-4">
                            <label>تلگرام</label>
                            <p class="form-control h-auto">{{social_media_setting.telegram|default_if_none:'ثبت نشده'}}</p>
                        </div>
                        <div class="col-md-4">
                            <label>واتساپ</label>
                            <p class="form-control h-auto">{{social_media_setting.whatsapp|default_if_none:'ثبت نشده'}}</p>
                        </div>
                    </div>
                    <a href="/staff/settings_update/{{settings.id}}/" class="btn btn-primary">ویرایش</a>
                </div>
            </div>
            <div class="card col-10 mx-auto my-5 pt-5">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">تنظیمات اسلایدر </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>متن کوچک</label>
                            <p class="form-control">{{slider_setting.site_small_title}}</p>
                        </div>
                        <div class="col-md-6">
                            <label>متن بزرگ</label>
                            <p class="form-control">{{slider_setting.site_big_title}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bg-dark p-3 rounded text-center">
                                <label>تصویر اسلایدر</label>
                                <img src="{{slider_setting.sliderimg.url}}" class="mx-2" width="90%">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label>عنوان دکمه</label>
                            <p class="form-control h-auto">{{slider_setting.buttom_name}}</p>
                        </div>
                        <div class="col-md-6">
                            <label>لینک دکمه</label>
                            <p class="form-control h-auto" style="line-height: 1.4rem;">{{slider_setting.buttom_link}}</p>
                        </div>
                    </div>
                    <a href="/staff/slider-settings-update/{{slider_setting.id}}/" class="btn btn-primary">ویرایش</a>
                </div>
            </div>
    </div>
  </div>
{% endblock content %}