{{tracking}}


{% load i18n %}{% autoescape off %}
<!DOCTYPE html>
<html>
<head>
	<title>تکمیل سفارش | فروشگاه اینترنتی ماهوت کالکشن</title>
    <link href='http://www.fontonline.ir/css/BTraffic.css' rel='stylesheet' type='text/css'>
    <style>
    *{
        font-family:'BTraffic',Sans-Serif;
        font-size:14px;
    }
    </style>
</head>
<body>
	<div class="">
		<div class="aHl"></div>
		<div id=":mu" tabindex="-1"></div>
		<div class="ii gt" id=":nk">
			<div class="a3s aiL msg-5158566260368867123" id=":nj">
				<u></u>
				<div style="direction:rtl;text-align:center;background-color:#f0f0f0">
				<table align="center" bgcolor="#F0F0F0" border="0" cellpadding="0" cellspacing="0" style="direction:rtl;text-align:center;" width="100%">
					<tbody>
						<tr>
							<td>
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="690">
									<tbody>
										<tr style="direction:rtl;text-align:center;background-color:#f0f0f0">
											<td align="center" width="100%">
												<a href="https://mahootcollection.com/" target="_blank"><img border="0" src="https://mahootcollection.com/assets/images/logo-dark.png" style="direction:rtl;text-align:center;display:block;padding:30px" width="150"></a>
											</td>
										</tr>
										<tr>
											<td align="center" width="100%">
												<table align="center" style="direction:rtl;direction: ltr !important;text-align: center !important;" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td align="center" width="100%">
																<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tbody>
																		<tr>
																			<td colspan="3" height="32"></td>
																		</tr>
																		<tr>
																			<td width="32"></td>
																			<td style="direction:rtl;text-align: center;"><span style="direction:rtl;text-align:center;color:#000000;font-size:22px;font-weight:bold;line-height:1.5">
                                                                                سلام {{owner}} عزیز
                                                                            </span></td>
																			<td width="32"></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td align="center" width="100%">
																<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tbody>
																		<tr bgcolor="#FFFFFF">
																			<td width="30"></td>
																			<td>
																				<table border="0" cellpadding="0" cellspacing="0" width="100%">
																					<tbody>
																						<tr>
																						</tr>
																						<tr>
																							<td height="10"></td>
																						</tr>
																						<tr>
																							<td style="text-align: center;">
																								<p style="direction:rtl;text-align:center;font-size:16px;color:#3e3e3e">سفارش شما با شناسه {{ref_code}} تکمیل شد</p>
																								<p style="direction:rtl;text-align:center;font-size:16px;color:#3e3e3e">کد رهگیری مرسوله شما عبارت است از : </p>
																								<a href="https://tracking.post.ir/search.aspx?id={{tracking}}" style="
                                                                                                    font-size: 26px;
                                                                                                    color: #c96;
                                                                                                    text-align: center;
                                                                                                    line-height: 1.4;
                                                                                                    text-decoration: none
                                                                                                ">{{tracking}}</a>
																								<p style="direction:rtl;text-align:center;font-size:16px;color:#3e3e3e">جهت مشاهده وضعیت روی کد رهگیری کلیک کنید</p>
																							</td>
																						</tr>
																						<tr>
																							<td height="10"></td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																			<td width="30"></td>
																		</tr>
																		<tr>
																			<td><br></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td>
																<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tbody>
																		<tr>
																			<td width="32"></td>
																			<td>
																				<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																					<tbody>
																						<tr>
																							<td height="4"></td>
																						</tr>
																						<tr>
																							<td style="direction:rtl;text-align:center;"><span style="color:#000000;font-size:20px;font-weight:bold;line-height:1.5">فروشگاه اینترنتی ماهوت کالکشن</span></td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																			<td width="32"></td>
																		</tr>
																		<tr>
																			<td colspan="3" height="32"></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td>
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td height="24"></td>
														</tr>
														<tr>
															<td align="center" style="direction: ltr;"><span style="text-align:center;color:#75787d;font-size:13px;font-weight:normal;line-height:1.5">© 2021 mahootcollection.com</span></td>
														</tr>
														<tr>
															<td height="16"></td>
														</tr>
														<tr>
															<td align="center">
																<!-- <table align="center" border="0" cellpadding="0" cellspacing="0">
																	<tbody>
																		<tr>
																			<td>
																				<a data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/fansoffreelancer&amp;source=gmail&amp;ust=1627833275446000&amp;usg=AFQjCNE0Vbha_iAtqNKGc2ykMJOIL_E7Ww" href="https://www.facebook.com/fansoffreelancer" target="_blank"><img alt="Facebook" border="0" class="CToWUd" src="https://ci3.googleusercontent.com/proxy/4VM8xEZ_9S9zUCOLNAeT7KNfvnzuVv0JE_JZY6qEYWviCmnLVJ2ODZQz16aKaW6BFp1qHvG7dn69v0NFolGsCU0ccKdUlEbNcxM6ls8MNISHKyjbuJj4uwu4kbexNl4ZRHOK55TX3U3b0COnDTRZ7GJRuWMuhV0=s0-d-e1-ft#https://d3bvzwcd1dw6vt.cloudfront.net/static/images/email/build/19bacfd0c58e6a35b841790d89354564.png" width="24"></a>
																			</td>
																			<td width="4"></td>
																			<td>
																				<a data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/freelancer&amp;source=gmail&amp;ust=1627833275446000&amp;usg=AFQjCNGq0bjm-XzTDdLVGkxFUXXjZX_CjQ" href="https://twitter.com/freelancer" target="_blank"><img alt="Twitter" border="0" class="CToWUd" src="https://ci4.googleusercontent.com/proxy/_EaQ7b2M5Jw7oiHdjnd72lYCrE5eXrdFKfZ3rc7s5DEscez29r1ecMdHaWZtLrfAYSzKSJKO_2TJ-h_UDuPQqn8dqKRbCAeXgbkSQoxqtRley3mJn9njZ8QlHljTaI520uEwrajd-r_XQn_4IPY5t-kzqoejgL4=s0-d-e1-ft#https://d3bvzwcd1dw6vt.cloudfront.net/static/images/email/build/cf858d8bbdf01f6d8f3a7f3ecb08f266.png" width="24"></a>
																			</td>
																			<td width="4"></td>
																			<td>
																				<a data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/freelancerofficial&amp;source=gmail&amp;ust=1627833275446000&amp;usg=AFQjCNG5EcBOG7FkPofFeYzO8gOtk4V8QA" href="https://www.instagram.com/freelancerofficial" target="_blank"><img alt="Instagram" border="0" class="CToWUd" src="https://ci5.googleusercontent.com/proxy/YdOs4QeEn4G29g2b9DWL1A4oXmx4tNoT_sDKofdZGxWoAai7NpWslPrYRYxrVrvq2vpwbsHfb2ty8fHwUHmkwpms2r_lcdHjSEOKe-GbCizKJQpebTjHELmZw4nl6B0FxVUne8y1Z6hBNjt_1fAwogUfqcaYkkw=s0-d-e1-ft#https://d3bvzwcd1dw6vt.cloudfront.net/static/images/email/build/7517195fa748ffb4ccc210202e644d7d.png" width="24"></a>
																			</td>

																		</tr>
																	</tbody>
																</table> -->
															</td>
														</tr>
														<tr>
															<td height="24"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
            </div>
			</div>
			<div class="yj6qo"></div>
		</div>
		<div class="ii gt" id=":my" style="direction:rtl;text-align:center;display:none">
			<div class="a3s aiL" id=":mz"></div>
		</div>
		<div class="hi"></div>
	</div>
</body>
</html>
{% endautoescape %}
