{% extends 'staff/base.html' %}
{% block title %}آبنوس برنای خلیج فارس | دسته بندی ها{% endblock %}
{% block head %}دسته بندی{% endblock head %}

{% block content %}
<div class="d-none">{% block categories %}active{% endblock %}</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">

            <div class="row">
              <div class="col-6">
                <h4 class="card-title ">لیست دسته بندی ها</h4>
                <p class="card-category">تعداد دسته ها : {{count}}</p>

              </div>
            </div>

          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th style="width: 400px;">
                      نام دسته
                    </th>
                    <th class="d-md-table-cell d-none" style="width: 250px;">
                      محصولات دسته
                    </th>
                    <th style="width: 235px;">
                      <!-- <a href="/staff/category/create/"> ایجاد دسته </a> -->
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for category in categories %}
                  <tr>
                    <td>
                      {{category.category}}
                    </td>
                    <td class="text-black-50">
                      {% for n in category.cat.all %}
                      {{n.name}},
                      {% endfor %}
                    </td>
                    <td>
                    <a href="/staff/delete-category/{{category.id}}" >حذف دسته </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% if count == 0 %}
              <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="material-icons">close</i>
                </button>
                <span>
                  <b> هشدار - </b>هنوز هیچ دسته بندی ایجاد نشده است</span>
              </div>
              {% endif %}
            </div>
            <button class="btn btn-primary" id="createCategory" style="width: 175px;">ایجاد دسته بندی</button>

          </div>
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              {% if categories.number|add:'-4' > 1 %}
              <li class="page-item">
                <a class="page-link" href="?page={{ categories.number|add:'-5' }}" aria-label="Previous" tabindex="-1"
                  aria-disabled="true">
                  <span aria-hidden="true"></span>
                  << </a>
              </li>
              {% endif %}

              {% if categories.has_previous %}
              <li class="page-item ">
                <a class="page-link page-link-prev"
                  href="?page={{ categories.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                  aria-label="Previous" tabindex="-1" aria-disabled="true">
                  <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link page-link-prev" href="" aria-label="Previous" tabindex="-1" aria-disabled="true">
                  <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
                </a>
              </li>
              {% endif %}

              {% for i in categories.paginator.page_range %}
              {% if categories.number == i %}
              <li class="page-item active" aria-current="page"><a class="page-link" href="">{{ i }}</a></li>
              {% elif i > categories.number|add:'-5' and i < categories.number|add:'4' %} <li class="page-item"
                aria-current="page"><a class="page-link"
                  href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{
                  i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if categories.has_next %}
                <li class="page-item">
                  <a class="page-link page-link-next"
                    href="?page={{ categories.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                    aria-label="Next">
                    بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link page-link-next" href="" aria-label="Next">
                    بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                  </a>
                </li>
                {% endif %}

                {% if categories.paginator.num_pages > categories.number|add:'4' %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ categories.number|add:'5' }}" aria-label="Previous" tabindex="-1"
                    aria-disabled="true">
                    <span aria-hidden="true"></span>>>
                  </a>
                  {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="categroyModal" class="modal fade d-none" tabindex="-1" role="dialog"
  style="display: block; padding-right: 17px; background: #000000d1;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modalContent">
      <div class="py-3 px-5 border-bottom text-center">
        <h5 class="modal-title">ایجاد دسته بندی</h5>
      </div>
      <div class="modal-body">
        <div class="text-right">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group bmd-form-group text-right my-3 py-3">
              <label for="category_name_fa">عنوان فارسی</label>
              <input name="category_name_fa" class="form-control h-auto" value="{{slider_setting.buttom_name}}">
            </div>
            <div class="form-group bmd-form-group text-right my-3 py-3">
              <label for="category_name_en">عنوان انگلیسی</label>
              <input name="category_name_en" class="form-control h-auto" value="{{slider_setting.buttom_name}}">
            </div>
            <div class="form-group bmd-form-group text-right my-3 py-3">
              <label for="category_name_ar">عنوان عربی</label>
              <input name="category_name_ar" class="form-control h-auto" value="{{slider_setting.buttom_name}}">
            </div>
            <div class="form-group bmd-form-group text-right my-3 py-3">
              <label for="category_name_ku">عنوان کردی</label>
              <input name="category_name_ku" class="form-control h-auto" value="{{slider_setting.buttom_name}}">
            </div>
            <button type="submit" class="btn btn-primary mt-3" id="createCategory" style="width: 175px;">ذخیره</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}