{% extends 'staff/base.html' %}
{% block title %}ماهوت کالکشن | کالکشن ها{% endblock %}
{% block head %}مدیریت کالکشن ها{% endblock head %}

{% block content %}
<div class="d-none">{% block collections %}active{% endblock %}</div>

    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">

                  <div class="row">
                    <div class="col-12">
                      <h4 class="card-title ">لیست کالکشن ها</h4>
    
                    </div>
                  </div>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr>
                        <th>
                          نام کالکشن
                        </th>
                        <th>
                          تصویر کالکشن
                        </th>
                        <th>
                          لینک کالکشن
                        </th>
                        <th style="width: 150px;">
                        
                        </th>
                      </tr></thead>
                      <tbody>
                        {% for collection in collections %} 
                        <tr>
                          <td>
                            {{collection.collection_name}}
                          </td>
                          <td class="text-info">
                            <img src="{{collection.collection_img.url}}" width="100" alt="">
                          </td>
                          <td>
                            <a href="mahootcollection.com/products/{{collection.collection_url}}">{{collection.collection_url}}</a>
                          </td>
                          <td class="text-primary">
                            <a href="/staff/collections/{{collection.id}}/"><i class="fad fa-eye"></i> مشاهده</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% if count == 0 %}
                    <div class="alert alert-warning">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                      </button>
                      <span>
                      <b> هشدار - </b>هنوز کاربری وجود ندارد</span>
                    </div>
                    {% endif %}
                    {% if collections_count < 3 %}
                      <a href="/staff/collection/create/">
                        <button class="btn btn-primary" style="width: 175px;">ایجاد کالکشن</button>
                      </a>
                    {% else %}
                    <a href="#">
                      <button class="btn btn-secondary" style="width: 175px;">ایجاد کالکشن</button>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}

