{% extends 'staff/base.html' %}
{% load crispy_forms_tags %}

{% block title %}آبنوس برنای خلیج فارس | مدیریت محصول{% endblock %}

{% block content %}
<div class="d-none">{% block create-product %}active{% endblock %}</div>
<div class="content">
  <form method="POST" id="productForm" enctype="multipart/form-data"
    data-categories-url="/staff/ajax/load-subcategories/" novalidate>
    {% csrf_token %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">افزودن محصول</h4>
              <p class="card-category">از این قسمت میتوانید محصول جدید وارد کنید</p>
            </div>
            <div class="card-body">
              <div class="row my-4">
                <div class="col-lg-6 my-4">
                  <div class="form-group bmd-form-group text-right">
                    <label for="name_fa">عنوان فارسی محصول</label>
                    {{form.name_fa|as_crispy_field}}
                  </div>
                </div>
                <div class="col-lg-6 my-4">
                  <div class="form-group bmd-form-group text-right">
                    <label for="name_en">عنوان انگلیسی محصول</label>
                    {{form.name_en|as_crispy_field}}
                  </div>
                </div>
                <div class="col-lg-6 my-4">
                  <div class="form-group bmd-form-group text-right">
                    <label for="name_ar">عنوان عربی محصول</label>
                    {{form.name_ar|as_crispy_field}}
                  </div>
                </div>
                <div class="col-lg-6 my-4">
                  <div class="form-group bmd-form-group text-right">
                    <label for="name_ku">عنوان کُردی محصول</label>
                    {{form.name_ku|as_crispy_field}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 my-4">
                  <div class="form-group bmd-form-group text-right">
                    <label for="name_ku">توضیحات فارسی</label>
                    {{ form.description_fa|as_crispy_field }}
                  </div>
                </div>
                <div class="col-lg-6 my-4">
                  <div class="form-group bmd-form-group text-right">
                    <label for="name_ku">توضیحات انگلیسی</label>
                    {{ form.description_en|as_crispy_field }}
                  </div>
                </div>
                <div class="col-lg-6 my-4">
                  <div class="form-group bmd-form-group text-right">
                    <label for="name_ku">توضیحات عربی</label>
                    {{ form.description_ar|as_crispy_field }}
                  </div>
                </div>
                <div class="col-lg-6 my-4">
                  <div class="form-group bmd-form-group text-right">
                    <label for="name_ku">توضیحات کردی</label>
                    {{ form.description_ku|as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-3">
                      {{ form.image1|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                      {{ form.image2|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                      {{ form.image3|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                      {{ form.image4|as_crispy_field }}
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">انتخاب دسته محصول</h4>
            </div>
            <div class="card-body">
              <div class="form-group bmd-form-group">
                {{ form.category|as_crispy_field }}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">انتشار</h4>
            </div>
            <div class="card-body">
              <p><i class="far fa-eye"></i> وضعیت : <span class="text-secondary">
                  {% if p.product_draft == False %}
                  منتشر شده
                  {% else %}
                  پیش نویس
                  {% endif %}
                </span></p>
              {% if p.time_created and p.date_created %}
              <p><i class="far fa-calendar-alt"></i> تاریخ ثبت محصول : <span class="text-secondary">تاریخ :
                  {{p.date_created|date:"y/m/d"}}
                  <br>
                  ساعت : {{p.time_created|date:"G:i"}}</span></p>
              {% endif %}
              <div class="row px-2">
                <div class="col"></div>
                <button type="submit" id="saveProduct" class="btn btn-primary pull-right">انتشار</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>



{% endblock content %}

{% block scripts %}
<script>
  const product_category = document.getElementById("id_category")
  var option = document.createElement("option");
  option.text = "دسته بندی را انتخاب کنید";
  option.value = "500"
  product_category.options[0].remove()
  product_category.add(option, 0);
  product_category.options.selectedIndex = 0
  $("#id_category").change(function () {
    if (product_category.options.selectedIndex != 0) {
      if (product_category.options[0].value == 500) {
        product_category.options[0].remove()
      }
    }
  });
</script>
{% endblock scripts %}