{% extends 'staff/base.html' %}
{% block title %}ماهوت کالکشن | پنل مدیریت{% endblock %}
{% block head %}داشبورد{% endblock head %}

{% block content %}

<div class="d-none">{% block dashboard %}active{% endblock %}</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="fad fa-envelope-open-text"></i>
            </div>
            <p class="card-category">تعداد پیام ها</p>
            <h3 class="card-title">{{messages_count}}
              <small>پیام</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="fad fa-user"></i>
              <p class="mx-2 my-0"> تعداد پیام های جدید ماه : {{messages_of_month_count}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="fad fa-eye"></i>
            </div>
            <p class="card-category">بازدید های این ماه</p>
            <h3 class="card-title">{{views_of_month_count}}
              <small>بازدید</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats"> بازدید امروز : {{views_of_day_count}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="fad fa-shopping-bag"></i>
            </div>
            <p class="card-category">تعداد محصولات</p>
            <h3 class="card-title">{{products_count}} 
              <small>محصول</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="fad fa-load"></i>
              <p class="mx-2 my-0">آخرین بروزرسانی : امروز</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">نمودار بازدید از سایت</h4>
          </div>
          <div class="card-body table-responsive">
            <canvas id="chartViewPage" width="400" height="200"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">نمودار بازدید از محصولات</h4>
          </div>
          <div class="card-body table-responsive">
            <canvas id="chartViewProducts" width="400" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}