{% extends 'staff/base.html' %}
{% load humanize %}
{% block title %}ماهوت کالکشن | سفارش {{order.ref_code}}{% endblock %}
{% block head %}سفارش {{order.ref_code}}{% endblock head %}

{% block content %}
<div class="d-none">{% block orders %}active{% endblock %}</div>
<main class="main">
    <div class="page-content mt-5">

        {% if order.is_ordered == True %}
        <div class="container">
            <div class="bg-white rounded-3 shadow p-5">
                <div class="d-flex justify-content-between border-bottom py-2">
                    <h5 class="text-primary">سفارش {{order.ref_code}}</h5>
                    <h5 class="text-muted">
                        {% if order.date_ordered|date:"D" == "Mon" %}
                        شنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Tue" %}
                        یکشنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Wed" %}
                        دوشنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Thu" %}
                        سه شنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Fri" %}
                        چهارشنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Sat" %}
                        پنج شنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Sun" %}
                        جمعه
                        {% endif %}
                        {{order.date_ordered|date:"y/m/d"}}
                        ساعت : {{order.created_on_time|date:"G:i" }}
                    </h5>
                </div>

                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50">تحویل گیرنده :</h5>
                    <h5>{{order.owner}}</h5>
                </div>

                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50">شماره تحویل گیرنده :</h5>
                    <h5>{{order.owner.phone_number}}</h5>
                </div>

                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50 ml-2">آدرس :</h5>
                    <h5>{{order.location | default_if_none:order.owner.full_address }}</h5>
                </div>

                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50 ml-2">کدپستی :</h5>
                    <h5>{{order.zipcode | default_if_none:order.owner.zipcode }}</h5>
                </div>

                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50">روش حمل و نقل :</h5>
                    <h5>{{order.transport.transport_way}}</h5>
                </div>

                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50">روش پرداخت :</h5>
                    <h5>پرداخت از طریق درگاه زرین پال </h5>
                </div>
                <div class="d-flex justify-content-between pt-2 pb-1">
                    <h5 class="text-black-50">توضیحات خریدار :</h5>
                    <h5 class="text-primary">{{order.note}}</h5>
                </div>
            </div>

            <div class="bg-white rounded-2x shadow p-5 my-5">
                <h5 class="pb-2 mb-2 text-right">مرسوله ها</h5>

                <table class="table table-cart table-mobile text-right">
                    <thead>
                        <tr>
                            <th style="width: 90px;"></th>
                            <th>نام محصول</th>
                            <th>دسته بندی</th>
                            <th>قیمت</th>
                            <th>تعداد</th>
                            <th>قیمت کل</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for product in order.items.all %}
                        <tr>
                            <td>
                                <img src="{{ product.product.product.product_img1.url }}" class="order_image" alt="Product image">
                            </td>
                            <td class="product-col">
                                <a href="#">{{product.product.product.product_model}}, {{product.product.size}}</a>
                            </td>

                            <td>
                                <span class="text-black-50">{{product.product.product.product_category}}</span>
                            </td>

                            <td class="price-col">
                                {% if product.product.product.discount_price %}
                                    <span class="discount m-0"></span>{{product.product.product.discount_price|intcomma}} تومان </span>
                                    <span class="old-price">{{product.product.product.price|intcomma}} </span>
                                {% else %}
                                    {{product.product.product.price|intcomma}} تومان
                                {% endif %}
                            </td>

                            <td class="quantity-col">
                                <div class="d-inline-flex">
                                    <span>{{product.quantity}} عدد</span>
                                </div><!-- End .cart-product-quantity -->
                            </td>
                            <td class="total-col">
                                {% if product.product.product.discount_price %}
                                    {% widthratio product.product.product.discount_price 1 product.quantity as val %}
                                    {{val|intcomma}} تومان
                                {% else %}
                                    {% widthratio product.product.product.price 1 product.quantity as val %}
                                    {{val|intcomma}} تومان
                                {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table><!-- End .table table-wishlist -->
            </div>

            <div class="bg-white rounded-2x shadow p-5 my-3">

                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50 ml-2">هزینه حمل و نقل :</h5>
                    <h5>{{order.transport.transport_price|intcomma}} تومان</h5>
                </div>

                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50 ml-2">جمع کل :</h5>
                    <h5>{{order.get_total|add:order.transport.transport_price|intcomma}} تومان</h5>
                </div>
            </div>

            <div class="bg-white rounded-2x shadow p-5 my-5">
                <h5 class="pb-2 mb-2 text-right">اطلاعات</h5>
                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50 mt-3">وضعیت خرید :
                        {% if order.is_confirmed == True %}
                        تایید شده
                        {% else %}
                        در انتظار تایید
                        {% endif %}
                    </h5>
                    <h5>
                        {% if order.is_confirmed == True %}
                        <button class="btn btn-secondary"><i class="fas fa-check"></i> تایید شده</a>
                        {% else %}
                        <a href="/staff/orders/confirm-order/{{ order.ref_code }}" class="btn btn-success"><i class="fas fa-check"></i> تایید سفارش</a>
                        {% endif %}
                    </h5>
                </div>
                <div class="d-flex justify-content-between border-bottom pt-4 pb-1">
                    <h5 class="text-black-50">کد رهگیری مرسوله</h5>
                    <form method="POST">
                      {% csrf_token %}
                    <h5 class="text-black-50"><input type="text" value="{{order.tracking|default_if_none:''}}" name="tracking_code" class="c-input" placeholder="کد رهگیری مرسوله را وارد نمایید"> <button class="btn btn-primary px-3 py-2"><i class="fas fa-check"></i></button></h5>
                    </form>
                </div>

            </div>

        </div>
        {% else %}
        <div class="container">
            <div class="bg-white rounded-3 shadow p-5">
                <div class="d-flex justify-content-between border-bottom py-2">
                    <h5 class="text-primary">سفارش {{order.ref_code}} <b class="text-black-50">(در انتظار پرداخت)</b></h5>
                    <h5 class="text-muted">
                        {% if order.date_ordered|date:"D" == "Mon" %}
                        شنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Tue" %}
                        یکشنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Wed" %}
                        دوشنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Thu" %}
                        سه شنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Fri" %}
                        چهارشنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Sat" %}
                        پنج شنبه
                        {% endif %}
                        {% if order.date_ordered|date:"D" == "Sun" %}
                        جمعه
                        {% endif %}
                        {{order.date_ordered|date:"y/m/d"}}
                        ساعت : {{order.created_on_time|date:"G:i" }}
                    </h5>
                </div>

                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50">سفارش دهنده :</h5>
                    <h5>
                        {% if order.owner.first_name and order.owner.last_name %}
                        {{order.owner}}
                        {% else %}
                        {{order.owner.user}}
                        {% endif %}
                    </h5>
                </div>

                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50">شماره تماس سفارش دهنده :</h5>
                    <h5>{{order.owner.phone_number|default_if_none:'ثبت نشده'}}</h5>
                </div>
                <div class="d-flex mt-3">
                    <button class="btn btn-danger mt-3 float-left" data-toggle="modal" data-target="#DeleteModel"><i class="fas fa-trash"></i> لغو سفارش</button>
                </div>

            </div>

            <div class="bg-white rounded-2x shadow p-5 my-5">
                <h5 class="pb-2 mb-2 text-right">محصولات سبد خرید</h5>

                <table class="table table-cart table-mobile text-right">
                    <thead>
                        <tr>
                            <th style="width: 90px;"></th>
                            <th>نام محصول</th>
                            <th>دسته بندی</th>
                            <th>قیمت</th>
                            <th>تعداد</th>
                            <th>قیمت کل</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for product in order.items.all %}
                        <tr>
                            <td>
                                <img class="product_image" src="{{ product.product.product.product_img1.url }}" alt="Product image">
                            </td>
                            <td>
                                        <a href="#">{{product.product.product.product_model}}, {{product.product.size}}</a>
                            </td>

                            <td>
                                <span class="text-black-50">{{product.product.product.product_category}}</span>
                            </td>

                            <td class="price-col">
                                {% if product.product.product.discount_price %}
                                    <span class="discount m-0"></span>{{product.product.product.discount_price|intcomma}} تومان </span>
                                {% else %}
                                    {{product.product.product.price|intcomma}} تومان
                                {% endif %}
                            </td>

                            <td class="quantity-col">
                                <div class="d-inline-flex">
                                    <span>{{product.quantity}} عدد</span>
                                </div><!-- End .cart-product-quantity -->
                            </td>
                            <td class="total-col">
                                {% if product.product.product.discount_price %}
                                    {% widthratio product.product.product.discount_price 1 product.quantity as var %}
                                    {{ var|intcomma}} تومان
                                {% else %}
                                    {% widthratio product.product.product.price 1 product.quantity as var %}
                                    {{var|intcomma}} تومان
                                {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table><!-- End .table table-wishlist -->
                <div class="d-flex justify-content-between border-bottom pt-2 pb-1">
                    <h5 class="text-black-50 ml-2">قیمت کل :</h5>
                    <h5>{{order.get_total|intcomma}} تومان</h5>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</main>

<div id="DeleteModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content text-right">
        <div class="modal-header text-right">
            <h4 class="modal-title">لغو سفارش</h4>
          <button type="button" class="close btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body text-right">
          <p>آیا از لغو سفارش مطمئن هستید ؟</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
          <a href="/staff/orders/delete/{{order.ref_code}}" class="btn btn-danger"><i class="fas fa-trash"></i>لغو کن</a>
        </div>
      </div>

    </div>
</div>
{% endblock content %}
