{% extends 'staff/base.html' %}
{% load humanize %}
{% block title %}ماهوت کالکشن | سفارشات{% endblock %}
{% block head %}مدیریت سفارشات{% endblock head %}

{% block content %}
<div class="d-none">{% block orders %}active{% endblock %}</div>
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">

                  <div class="row">
                    <div class="col-6">
                      <h4 class="card-title ">لیست سفارشات</h4>
                      <p class="card-category">تعداد سفارشات: {{count}}</p>

                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                      <form action="/staff/order-search/" class="navbar-form">
                        <div class="input-group no-border">
                          <input type="search" name="q" id="q" class="form-control text-white" placeholder="جستجو ... (شناسه سفارش )">
                          <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr>
                        <th>
                          شناسه سفارش
                        </th>
                        <th>
                          تاریخ ثبت
                        </th>
                        <th>
                          سفارش دهنده
                        </th>
                        <th>
                          جمع قیمت
                        </th>
                        <th>
                          وضعیت سفارش
                        </th>
                        <th>

                        </th>
                      </tr></thead>
                      <tbody>
                        {% for order in orders %}
                        <tr>
                          <td>
                            {{order.ref_code}}
                          </td>
                          <td class="text-info">
                            <span class="text-primary">
                              {% if order.date_ordered|date:"D" == "Mon" %}
                              شنبه
                              {% endif %}
                              {% if order.date_ordered|date:"D" == "Tue" %}
                              یکشنبه
                              {% endif %}
                              {% if order.date_ordered|date:"D" == "Wed" %}
                              دوشنبه
                              {% endif %}
                              {% if order.date_ordered|date:"D" == "Thu" %}
                              سه شنبه
                              {% endif %}
                              {% if order.date_ordered|date:"D" == "Fri" %}
                              چهارشنبه
                              {% endif %}
                              {% if order.date_ordered|date:"D" == "Sat" %}
                              پنج شنبه
                              {% endif %}
                              {% if order.date_ordered|date:"D" == "Sun" %}
                              جمعه
                              {% endif %}
                              {{order.date_ordered|date:"y/m/d"}} <br>
                              ساعت : {{order.created_on_time|date:"G:i" }}
                            </span>
                          </td>
                          <td>
                            {% if order.owner.first_name and order.owner.last_name %}
                              {{order.owner}}
                            {% else %}
                              {{order.owner.user}}
                            {% endif %}
                          </td>
                          <td>
                            {{order.get_total|intcomma}} تومان
                          </td>
                          <td>
                            {% if order.is_confirmed == True %}
                                سفارش انجام شده
                            {% elif order.is_confirmed == False and order.is_ordered == True %}
                                پرداخت شده (در انتظار تایید)
                            {% else %}
                            در انتظار پرداخت
                            {% endif %}
                          </td>
                          <td class="text-primary">
                            <a href="/staff/orders/{{order.id}}">مشاهده سفارش <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% if count == 0 %}
                    <div class="alert alert-warning">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                      </button>
                      <span>
                      <b> هشدار - </b>هنوز سفارشی وجود ندارد</span>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                      {% if orders.number|add:'-4' > 1 %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ orders.number|add:'-5' }}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"></span><<
                          </a>
                      </li>
                      {% endif %}

                      {% if orders.has_previous %}
                      <li class="page-item ">
                          <a class="page-link page-link-prev" href="?page={{ orders.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
                          </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                          <a class="page-link page-link-prev" href="" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
                          </a>
                      </li>
                      {% endif %}

                      {% for i in orders.paginator.page_range %}
                      {% if orders.number == i %}
                      <li class="page-item active" aria-current="page"><a class="page-link" href="">{{ i }}</a></li>
                      {% elif i > orders.number|add:'-5' and i < orders.number|add:'4' %}
                      <li class="page-item" aria-current="page"><a class="page-link" href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
                      {% endif %}
                      {% endfor %}

                      {% if orders.has_next %}
                      <li class="page-item">
                          <a class="page-link page-link-next" href="?page={{ orders.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Next">
                              بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                          </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                          <a class="page-link page-link-next" href="" aria-label="Next">
                              بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                          </a>
                      </li>
                      {% endif %}

                      {% if orders.paginator.num_pages > orders.number|add:'4' %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ orders.number|add:'5' }}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"></span>>>
                          </a>
                      {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
