{% extends 'staff/base.html' %}
{% block title %}ماهوت کالکشن | لیست محصولات{% endblock %}
{% block head %}مدیریت محصولات{% endblock head %}

{% block content %}
<div class="d-none">{% block products %}active{% endblock %}</div>
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">

                  <div class="row">
                    <div class="col-6">
                      <h4 class="card-title ">لیست محصولات</h4>
                      <p class="card-category">تعداد محصولات: {{count}}</p>
    
                    </div>
                    <div class="col-2"></div>
                  </div>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr>
                        <th>
                          نام محصول
                        </th>
                        <th>
                          دسته محصول
                        </th>
                        <th>
                          توضیحات کوتاه
                        </th>
                        <th>
                            تصویر محصول
                        </th>
                        <th style="width: 250px;">
                             
                        </th>
                      </tr></thead>
                      <tbody>
                        {% for product in products %} 
                        <tr>
                          <td>
                            <a>{{product.name}}</a>
                          </td>
                          <td>
                            {{product.category.category}}
                          </td>
                          <td class="text-black-50">
                            {{product.description.html|safe}}
                          </td>
                          <td class="text-primary">
                            {% for img in product.image.all %}
                            <img src="{{ img.image.url }}" width="120" class="product_image">
                            {% endfor %}
                          </td>
                          <td class="text-info">
                            <button class="btn btn-danger px-3" data-toggle="modal" data-target="#Delete{{product.pk}}}" rel="tooltip" data-original-title="حذف محصول"><i class="fas fa-trash"></i></button>
                            <a href="/staff/product/update/{{product.pk}}" class="btn btn-outline-primary px-3" rel="tooltip" data-original-title="ویرایش محصول"><i class="fas fa-pencil"></i></a>
                          </td>
                        </tr>
                        <div id="Delete{{product.pk}}}" class="modal fade" role="dialog">
                          <div class="modal-dialog modal-dialog-centered">

                            <div class="modal-content text-right">
                              <div class="modal-header text-right">
                                  <h4 class="modal-title">حذف محصول</h4>
                                <button type="button" class="close btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i></button>
                              </div>
                              <div class="modal-body text-right">
                                <p>آیا از حذف محصول مطمئن هستید؟</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                                <a href="/staff/product/delete/{{product.pk}}" class="btn btn-danger"><i class="fas fa-trash"></i> حذف کن</a>
                              </div>
                            </div>

                          </div>
                        </div>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% if count == 0 %}
                    <div class="alert alert-warning">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                      </button>
                      <span>
                      <b> هشدار - </b>هنوز محصولی وجود ندارد</span>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                      {% if products.number|add:'-4' > 1 %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ products.number|add:'-5' }}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"></span><<
                          </a>
                      </li>
                      {% endif %}
                      
                      {% if products.has_previous %}
                      <li class="page-item ">
                          <a class="page-link page-link-prev" href="?page={{ products.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
                          </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                          <a class="page-link page-link-prev" href="" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
                          </a>
                      </li>
                      {% endif %}
          
                      {% for i in products.paginator.page_range %}
                      {% if products.number == i %}
                      <li class="page-item active" aria-current="page"><a class="page-link" href="">{{ i }}</a></li>
                      {% elif i > products.number|add:'-5' and i < products.number|add:'4' %}
                      <li class="page-item" aria-current="page"><a class="page-link" href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
                      {% endif %}
                      {% endfor %}
          
                      {% if products.has_next %}
                      <li class="page-item">
                          <a class="page-link page-link-next" href="?page={{ products.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Next">
                              بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                          </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                          <a class="page-link page-link-next" href="" aria-label="Next">
                              بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                          </a>
                      </li>
                      {% endif %}
          
                      {% if products.paginator.num_pages > products.number|add:'4' %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ products.number|add:'5' }}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"></span>>>
                          </a>
                      {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}

