{% extends 'staff/base.html' %}
{% block title %}ماهوت کالکشن | زیردسته ها{% endblock %}
{% block head %}مدیریت کاربران{% endblock head %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">

                  <div class="row">
                    <div class="col-6">
                      <h4 class="card-title "> لیست زیر دسته های : {{subcategory_name}}</h4>
                      <p class="card-category">تعداد زیر دسته های {{subcategory_name}} : {{count|add:"-1"}}</p>

                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                    </div>
                  </div>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr>
                          <th style="width: 400px;">
                            نام دسته
                          </th>
                          <th>
                            نامک
                          </th>
                          <th class="pr-5 d-md-table-cell d-none">
                            لینک دسته
                          </th>
                          <th style="width: 185px;">
                            <!-- <a href="/staff/subcategories/{{categories.category_url}}/create/"> ایجاد زیردسته</a>    -->
                          </th>
                      </tr></thead>
                      <tbody>
                        {% for subcategory in subcategories %}
                        <tr>
                          <td>
                            {{subcategory.subcategory_name}}
                          </td>
                          <td class="text-primary">
                            {{subcategory.subcategory_url}}
                          </td>
                          <td class="d-md-table-cell d-none">
                            <a href="/products/category/{{ subcategory.category.category_url }}/subcategory={{subcategory.id}}">
                              <button class="btn btn-outline-secondary"><i class="fad fa-eye"></i> مشاهده دسته</button>
                            </a>
                          </td>
                          <td class="text-info">
                            <button class="btn btn-danger px-3" data-toggle="modal" data-target="#Delete{{subcategory.pk}}"><i class="fas fa-trash"></i></button>
                            <a href="/staff/subcategory/update/{{subcategory.pk}}" class="btn btn-outline-primary px-3"><i class="fas fa-pencil"></i></a>
                        </td>
                        </tr>
                        <div id="Delete{{subcategory.pk}}" class="modal fade" role="dialog">
                          <div class="modal-dialog modal-dialog-centered">

                            <div class="modal-content text-right">
                              <div class="modal-header text-right">
                                  <h4 class="modal-title">حذف دسته بندی</h4>
                                <button type="button" class="close btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i></button>
                              </div>
                              <div class="modal-body text-right">
                                <p>آیا از حذف دسته بندی مطمئن هستید؟</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                                <a href="/staff/subcategory/delete/{{subcategory.pk}}" class="btn btn-danger"><i class="fas fa-trash"></i> حذف کن</a>
                              </div>
                            </div>

                          </div>
                        </div>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% if count == 0 %}
                    <div class="alert alert-warning">
                      <span>
                      <b> هشدار - </b>زیردسته ای برای "{{subcategory_name}}" وجود ندارد
                      </span>
                    </div>
                    {% endif %}
                    <a href="/staff/subcategories/{{categories.category_url}}/create/">
                        <button class="btn btn-primary" style="width: 175px;">ایجاد زیر دسته بندی</button>
                    </a>
                  </div>
                </div>
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                      {% if subcategories.number|add:'-4' > 1 %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ subcategories.number|add:'-5' }}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"></span><<
                          </a>
                      </li>
                      {% endif %}

                      {% if subcategories.has_previous %}
                      <li class="page-item ">
                          <a class="page-link page-link-prev" href="?page={{ subcategories.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
                          </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                          <a class="page-link page-link-prev" href="" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
                          </a>
                      </li>
                      {% endif %}

                      {% for i in subcategories.paginator.page_range %}
                      {% if subcategories.number == i %}
                      <li class="page-item active" aria-current="page"><a class="page-link" href="">{{ i }}</a></li>
                      {% elif i > subcategories.number|add:'-5' and i < subcategories.number|add:'4' %}
                      <li class="page-item" aria-current="page"><a class="page-link" href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
                      {% endif %}
                      {% endfor %}

                      {% if subcategories.has_next %}
                      <li class="page-item">
                          <a class="page-link page-link-next" href="?page={{ subcategories.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Next">
                              بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                          </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                          <a class="page-link page-link-next" href="" aria-label="Next">
                              بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                          </a>
                      </li>
                      {% endif %}

                      {% if subcategories.paginator.num_pages > subcategories.number|add:'4' %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ subcategories.number|add:'5' }}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"></span>>>
                          </a>
                      {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
