{% extends 'staff/base.html' %}
{% block title %}ماهوت کالکشن | ویرایش موجودی{% endblock %}

{% block content %}
<div class="d-none">{% block products %}active{% endblock %}</div>

    <div class="content">
        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                <div class="card col-md-6 mx-auto">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">موجودی محصول :  {{stock.product.product_model}}</h4>
                    </div>
                    <div class="card-body">
                        <label for="quantity">تعداد </label>
                        <input name="quantity" type="text" class="form-control" value="{{stock.quantity|default_if_none:''}}">
                        <button class="btn btn-primary mt-2" type="submit">ذخیره</button>
                        <p>{{e_msg}}</p>
                    </div>
                </div>
            </form>
        </div>
      </div>
{% endblock content %}
