{% extends 'staff/base.html' %}
{% block title %}ماهوت کالکشن | کاربر {{user.username}}{% endblock %}
{% block head %}کاربر شماره : {{user.id}}{% endblock head %}
{% block content %}
<div class="d-none">{% block users %}active{% endblock %}</div>
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col"></div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                      <h4 class="card-title ">نام کاربری : {{user.username}}</h4>
                </div>
                <div class="card-body text-right">
                    <form method="POST">
                    <div class="row">
                        {% csrf_token %}
                            <div class="col-md-6">
                                <label for="first_name">نام</label>
                                <input name="first_name" type="text" class="form-control"  value="{{user.profile.first_name|default_if_none:''}}">
                            </div>
                            <div class="col-md-6">
                                <label for="last_name">نام خانوادگی</label>
                                <input name="last_name" type="text" class="form-control" value="{{user.profile.last_name|default_if_none:''}}">
                            </div>
                            <div class="col-md-4 my-4">
                                <label for="email">آدرس ایمیل</label>
                                <input name="email" type="text" class="form-control"  value="{{user.email|default_if_none:''}}">
                            </div>
                            <div class="col-md-4 my-4">
                                <label for="phone_number">شماره تماس</label>
                                <input name="phone_number" type="text" class="form-control"  value="{{user.profile.phone_number|default_if_none:''}}">
                            </div>
                            <div class="col-md-4 my-4">
                                <label for="created_on">تاریخ ساخت حساب</label>
                                <input name="created_on" type="text" class="form-control"  value="{{user.profile.created_on|date:'y/m/d'}}" disabled>
                            </div>
                            <div class="col-md-12 my-4">
                                <label for="address">آدرس</label>
                                <input name="full_address" type="text" class="form-control"  value="{{user.profile.full_address|default_if_none:''}}">
                            </div>
                            <div class="col-md-12 my-4">
                                <label for="password">ایجاد رمز جدید برای کاربر</label>
                                <span class="password-control">
                                    <input name="new_password" type="password" class="password-input" placeholder="رمز عبور جدید را وارد کنید">
                                    <span class="btn btn-secondary password-show"><i class="fad fa-eye"></i></span>
                                </span>
                                
                            </div>


                            <div class="col-md-12 my-3">
                                {% if user.is_active %}
                                <a href="/staff/users/deactive-user/{{user.id}}" class="ml-3">غیرفعال کردن کاربر</a> کاربر فعال
                                {% else %}
                                <a href="/staff/users/active-user/{{user.id}}" class="ml-3">فعال کردن کاربر</a> کاربر غیرفعال
                                {% endif %}
                            </div>


                            <div class="col-md-12 my-2 text-left">    
                                <button class="btn btn-primary mt-2">ذخیره تغییرات</button>
                                {% if msg  %}
                                <div class="alert alert-success text-center mt-3 col-xl-5">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <i class="material-icons">close</i>
                                    </button>
                                    <span>{{msg}}</span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
            <div class="col"></div>
          </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
    const password_input = document.querySelectorAll('.password-input');
    const password_show = document.querySelectorAll('.password-show');
    password_input.forEach(pi => {
        let show = false;
        password_show.forEach(ps => {
            ps.addEventListener('click', function(){
                if(show === false){
                    pi.type ="text";
                    show = true;
                    ps.innerHTML = '<i class="fad fa-eye-slash"></i>'
                }else{
                    pi.type ="password";
                    show = false;
                    ps.innerHTML = '<i class="fad fa-eye"></i>'
                }
            })
        })
    })

</script>
{% endblock scripts %}