{% load i18n %}
{% load static %}

<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <style>
        #loading {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #FF2626;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10000;
            touch-action: none;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/custombs.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/loading.js' %}"></script>
    {% block head %}
    {% endblock head %}
</head>

<body>

    <div id="loading">
        <div class="text-center">
            <img src="{% static 'images/logo.png' %}" alt="آبنوس برنای خلیج فارس" width="180">
            <h4 class="text-white mt-3 fw-bold d-flex align-items-center gap-3">
                <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                در حال بارگذاری
            </h4>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-white" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" width="70px" alt="A.B.Fars"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse fw-bold" id="navbarsExample07">

                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item px-lg-3 px-md-0">
                        <a class="nav-link active" aria-current="page" href="#">{% trans "خانه" %}</a>
                    </li>
                    <li class="nav-item px-lg-3 px-md-0">
                        <p class="nav-link" onclick="scrollTO('products')">{% trans "محصولات" %}</p>
                    </li>
                    <li class="nav-item px-lg-3 px-md-0">
                        <p class="nav-link" onclick="scrollTO('about-us')">{% trans "درباره ما" %}</p>
                    </li>
                    <li class="nav-item px-lg-3 px-md-0">
                        <p class="nav-link" onclick="scrollTO('contact-us')">{% trans "تماس باما" %}</p>
                    </li>
                    <li class="nav-item px-lg-3 px-md-0 d-none d-md-block">
                        <a href="https://abfars.com/download/abfars.apk" class="nav-link">
                            <i class="fab fa-android"></i>
                             {% trans "اپلیکیشن" %}
                        </a>
                    </li>
                </ul>
                <div class="d-flex justify-content-center align-items-center">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item px-lg-3 px-md-0 dropdown">
                            <a class="nav-link dropdown-toggle d-inline-flex align-items-center" href="#"
                                id="selectLANGUAGE" data-bs-toggle="dropdown" aria-expanded="false"><img class="me-2"
                                    src="{% static 'images/en.svg' %}" width="25px"> English</a>
                            <ul class="dropdown-menu" aria-labelledby="selectLANGUAGE">
                                <li><a class="dropdown-item d-flex align-items-center" href="/en/" id="enLang"><img
                                            class="me-2" src="{% static 'images/en.svg' %}" width="25px"> English</a>
                                </li>
                                <li><a class="dropdown-item d-flex align-items-center" href="/fa/" id="faLang"><img
                                            class="me-2" src="{% static 'images/fa.svg' %}" width="25px"> فارسی</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="/ar/" id="arLang"><img
                                            class="me-2" src="{% static 'images/ar.svg' %}" width="25px"> العربیة</a>
                                </li>
                                <li><a class="dropdown-item d-flex align-items-center" href="/ku/" id="kuLang"><img
                                            class="me-2" src="{% static 'images/ku.svg' %}" width="25px"> kurdî</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <footer class="text-center text-lg-start bg-secondary text-muted">
        <section class="pt-1">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-3">
                            <img src="{% static 'images/logo.png' %}" width="70" alt="A.B Fars">

                            <p class="my-3">{% trans "شرکت آبنوس برنای خلیج فارس" %}</p>
                        </h6>
                        <p style="line-height: 1.5rem;">
                            {{setting.about_us_small}}
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto pt-4 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            {% trans "محصولات" %}
                        </h6>
                        {% for random_product in random_products %}
                        <p class="mt-3 product-mini-title">
                            <a href="product/{{random_product.id}}/" class="">{{random_product.name}}</a>
                        </p>
                        {% endfor %}
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto pt-4 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            {% trans "لینک های مفید" %}
                        </h6>
                        <p class="mt-3">
                            <a href="/#products">{% trans "محصولات" %}</a>
                        </p>
                        <p class="mt-3">
                            <a href="/#contact-us">{% trans "تماس باما" %}</a>
                        </p>
                        <p class="mt-3">
                            <a href="/#about-us">{% trans "درباره ما" %}</a>
                        </p>

                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto pt-4 mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            {% trans "راه های ارتباطی" %}
                        </h6>
                        <p class="mt-3">
                            {% trans "ایمیل" %} : {{setting.email}}
                        </p>
                        <p class="mt-3" style="line-height: 1.4rem;">
                            {{setting.address}}
                        </p>
                        <div class="social-menu justify-content-center justify-content-md-start my-3">
                            <a href="{{setting.instagram}}" target="blank"><i class="fab fa-instagram"></i></a>
                            <a href="{{setting.telegram}}" target="blank"><i class="fab fa-telegram-plane"></i></a>
                            <a href="{{setting.whatsapp}}" target="blank"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-4" style="background-color: #eceff1">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="/">ABFars.com</a>
        </div>
    </footer>

    <div id="setLANGUAGE" class="modal fade d-none" tabindex="-1" role="dialog"
        style="display: block; padding-right: 17px; background: #000000d1;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="py-3 px-5 border-bottom text-center">
                    <h5 class="modal-title">Please choose your language</h5>
                </div>
                <div class="modal-body">
                    <span><a class="dropdown-item d-flex align-items-center" href="/en/" id="setEN"><img class="me-2"
                                src="{% static 'images/en.svg' %}" width="25px"> English</a>
                    </span>
                    <span><a class="dropdown-item d-flex align-items-center" href="/fa/" id="setFA"><img class="me-2"
                                src="{% static 'images/fa.svg' %}" width="25px"> فارسی</a>
                    </span>
                    <span><a class="dropdown-item d-flex align-items-center" href="/ar/" id="setAR"><img class="me-2"
                                src="{% static 'images/ar.svg' %}" width="25px"> العربیة</a>
                    </span>
                    <span><a class="dropdown-item d-flex align-items-center" href="/ku/" id="setKU"><img class="me-2"
                                src="{% static 'images/ku.svg' %}" width="25px"> kurdî</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    {% block script %}
    {% endblock script %}
</body>

</html>