{% extends "main/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{setting.meta_title}}{% endblock title %}
<br>
<br>
<a href="{% url 'main:about_us' %}">{% trans "درباره ما" %}</a>
<br>
<br>
<a href="">{% trans "محصولات" %}</a>

<br>
<a href="/en/">en</a>
<a href="/fa/">fa</a>
<a href="/ar/">ar</a>
<a href="/ku/">ku</a>

{% block content %}
<div class="px-4 py-5 text-center main-hero position-relative">
    <div class="p-lg-4 text-center main-hero-content">
        <div class="hero-content">
            <img class="d-block mx-auto mb-4" src="{% static 'images/logo.png' %}" width="230" alt="A.B Fars">
            <h1 class="display-5 fw-bold text-white">{{setting.title}}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4" style="line-height: 2.5rem;">{{setting.about_us_small}}</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="scrollTO('about-us')">{%trans 'درباره ما' %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-blur"></div>
</div>

<div class="container mt-5">
    <h2 class="text-center fw-bold my-4">{% trans 'محصولات صادراتی' %}</h2>
    <div>
        <div class="d-block d-sm-flex justify-content-center align-items-center">
            <ul class="d-flex align-items-center justify-content-center my-4">
                <li class="filter fs-5 mx-3 pb-3 active" data-filter="*">{% trans 'تمام محصولات' %}</li>
                {% for category in categories %}
                    <li class="filter fs-5 mx-3 pb-3" data-filter=".Milk">{{category.category}}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="row" id="mixitup_list">
    {% for product in products %}
        <div class="col-lg-4 col-md-6 col-xs-6 mix Fruits Vegetables" data-bound="" style="display: inline-block;">
            <div class="Product">
                <div class="single_item_wrapper">
                    <img src="{{product.image1.url}}" alt="Image">
                </div>
                <div class="value-info">
                    <h4><a href="shop.html">{{product.name}}</a></h4>
                    <a href="product/{{product.id}}/"><h6 class="">مشاهده محصول</h6></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="testimonial my-5">
    <div class="opacity">
        <div class="container py-5">
            <h4 class="fw-bold text-white text-center border-bottom pt-4 pb-3">{% trans "نظرات مشتریان" %}</h4>
            <div class="owl-carousel owl-theme">
                <div class="info_wrapper">
                    <div class="client_info">
                        <img src="{% static 'images/profile.png' %}" alt="client" class="border_round float_left">
                        <div class="name float_left">
                            <h6 class="text-white">آقای بهرامی</h6>
                            <span>شرکت جتامین خخخ</span>
                        </div>
                        <div class="clear_fix"></div>
                    </div>
                    <div class="brief-content">
                        <h6>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ،
                            صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب
                            بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می
                            نماید،</h6>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="info_wrapper">
                    <div class="client_info">
                        <img src="{% static 'images/profile2.png' %}" alt="client" class="border_round float_left">
                        <div class="name float_left">
                            <h6 class="text-white">جاستین بزرگ ( محسن پوریا )</h6>
                            <span>کمپانی فامورال</span>
                        </div>
                        <div class="clear_fix"></div>
                    </div>
                    <div class="brief-content">
                        <h6>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ،
                            صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب
                            بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می
                            نماید،</h6>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid bg-secondary mb-5" id="about-us">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <p class="my-4">{% trans "درباره ما" %}</p>
                <h3 class="fw-bold mb-3">{% trans "شرکت آبنوس برنای خلیج فارس" %}</h3>
                <p class="mb-5 lh-2">{{setting.about_us}}</p>
                <div class="row mt-2">
                    <div class="col-lg-6 d-flex justify-content-around d-md-block">
                        <div class="counter mb-5">
                            <span>+</span><span class="number-counter" number="{{setting.domestic_customers}}">0</span>
                            <p>{% trans "مشتریان داخلی" %}</p>
                        </div>
                        <div class="counter mb-5">
                            <span>+</span><span class="number-counter" number="{{setting.products_count}}">0</span>
                            <p>{% trans "تعداد محصولات" %}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-around d-md-block">
                        <div class="counter mb-5">
                            <span>+</span><span class="number-counter" number="{{setting.international_customers}}">0</span>
                            <p>{% trans "مشتریان بین المللی" %}</p>
                        </div>
                        <div class="counter mb-5">
                            <span>+</span><span class="number-counter" number="{{setting.years_of_activity}}">0</span>
                            <p>{% trans "سابقه فعالیت" %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="icon-box">
                            <div class="icon bg-color1 mb-2">
                                <i class="fad fa-columns" aria-hidden="true"></i>
                            </div>
                            <h4 class="mb-2">لروم ایپسوم</h4>
                            <p class="text-black-50 mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                        <div class="icon-box">
                            <div class="icon bg-color2 mb-2">
                                <i class="fad fa-star" aria-hidden="true"></i>
                            </div>
                            <h4 class="mb-2">لروم ایپسوم</h4>
                            <p class="text-black-50 mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="icon-box">
                            <div class="icon bg-color3 mb-2">
                                <i class="fad fa-shopping-cart" aria-hidden="true"></i>
                            </div>
                            <h4 class="mb-2">لروم ایپسوم</h4>
                            <p class="text-black-50 mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                        <div class="icon-box">
                            <div class="icon bg-color4 mb-2">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                            </div>
                            <h4 class="mb-2">لروم ایپسوم</h4>
                            <p class="text-black-50 mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="contact-us" id="contact-us">
        <div class="row">
            <h4 class="fw-bold text-center border-bottom pb-3">{% trans "تماس با ما" %}</h4>
            <div class="col-lg-6">
                <form method="POST" class="text-center">
                    {% csrf_token %}
                    <div class="my-4">
                        <input type="text" class="w-75 text-right bg-color5" name="name" id=""
                            placeholder="{% trans "نام و نام خانوادگی" %}">
                    </div>
                    <div class="my-4">
                        <input type="email" class="w-75 text-right bg-color5" name="email" id="" placeholder="{% trans "پست الکترونیکی" %}">
                    </div>
                    <div class="my-4">
                        <input type="tel" class="w-75 text-right bg-color5" name="phone_number" id="" placeholder='{% trans "شماره تماس" %}'>
                    </div>
                    <div class="my-4">
                        <textarea name="text" class="bg-color5" placeholder='{% trans "متن پیام" %}'></textarea>
                    </div>
                    <div class="my-4">
                        <button>{% trans "ارسال" %}</button>
                    </div>
                </form>
                {% for message in messages %}
                {{message}}
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <div class="h-100 d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/contact-us.svg' %}" width="100%" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}