.btn-primary{
    color:#fff;
    background-color:#FF2626;
    border-color:#FF2626
}
.btn-primary:hover{
    color:#fff;
    background-color:#FF2626;
    border-color:#FF2626;
    box-shadow:0 0 10px #BD1616;
}
.btn-check:focus+.btn-primary,.btn-primary:focus{
    color:#fff;
    background-color:#BD1616;
    border-color:#BD1616;
    box-shadow:0 0 10px #BD1616;
    outline: none;
}
.btn-check:active+.btn-primary,.btn-check:checked+.btn-primary,.btn-primary.active,.btn-primary:active,.show>.btn-primary.dropdown-toggle{
    color:#fff;
    background-color:#BD1616;
    border-color:#BD1616;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
