.btn-primary{
    color:#fff;
    background-color:#FF2626;
    border-color:#FF2626
}
.btn-primary:hover{
    color:#fff;
    background-color:#FF2626;
    border-color:#FF2626;
    box-shadow:0 0 10px #BD1616;
}
.btn-check:focus+.btn-primary,.btn-primary:focus{
    color:#fff;
    background-color:#BD1616;
    border-color:#BD1616;
    box-shadow:0 0 10px #BD1616;
    outline: none;
}
.btn-check:active+.btn-primary,.btn-check:checked+.btn-primary,.btn-primary.active,.btn-primary:active,.show>.btn-primary.dropdown-toggle{
    color:#fff;
    background-color:#BD1616;
    border-color:#BD1616;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.bg-secondary{
    background: #f6f8fa !important;
}
.bg-color1 {
    background-color: #ffd4d4;
    color: #ff2626!important;
}
.bg-color2{
    background-color: #b9fff37d;
    color: #00e7e4!important;
}
.bg-color3 {
    background-color: #e2dcf19c;
    color: #9a6bfd!important;
}
.bg-color4 {
    background-color: #ffdfaf87;
    color: #feb801!important;
}
.lh-2{
    line-height: 1.6rem;
}
.border-danger{
    border-color: #FF2626!important;
}
.filter.active{
    position: relative;
}
.filter.active::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0px;
    height: 2px;
    width: 100%;
    background: #FF2626;
    animation: add_border 0.3s normal;
}
@keyframes add_border{
    0%{
        width: 0;
    }
    50%{
        width: 150%;
    }
    100%{
        width: 100%;
    }
}