@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 300;
  src: local("IRANYekan Regular"), local("IRANYekan-Regular"), url("../fonts/iranyekanweblightfanum.eot");
  src: local("IRANYekan Regular"), local("IRANYekan-Regular"), url("../fonts/iranyekanweblightfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekanweblightfanum.woff") format("woff"), url("../fonts/iranyekanweblightfanum.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: bold;
  src: local("IRANYekan Bold"), local("IRANYekan-Bold"), url("../fonts/iranyekanwebmediumfanum.eot");
  src: local("IRANYekan Bold"), local("IRANYekan-Bold"), url("../fonts/iranyekanwebmediumfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekanwebmediumfanum.woff") format("woff"), url("../fonts/iranyekanwebmediumfanum.ttf") format("truetype");
  font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6{
    color:#4d486f;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
footer{
    box-shadow: 0 0 50px #bfbfbf59;
}
body {
    font-family: 'IRANYekan', 'Roboto', sans-serif !important;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none !important;
    color: #4d486f;
    transition: 0.3s all;
    &:hover{
        color: #FF2626;
        transition: 0.3s all;
    }
}

.navbar{
    box-shadow: 0 0 5px #ddd;
}
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    animation: fixNavbar 0.5s normal;
}
@keyframes fixNavbar {
    0%{
        top: -70px;
    }
    100%{
        top: 0;
    }
}
.nav-item{
    cursor: pointer;
    margin: 10px 0;
}
.main-hero{
    background: url(../images/home-page.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
    animation: changeBg 6s infinite;
}
@keyframes changeBg{
    0%,100%  {background-image: url(../images/home-page.jpg);}
    35% {background-image: url(../images/home-page2.jpg);}
    70% {background-image: url(../images/home-page3.jpg);}
 }
.main-hero-content{
    position: relative;
}
.hero-content{
    position: relative;
    z-index: 1;
    color: #fff;
}
.content-blur{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000a8;
    z-index: 0;
}
.active{
    color: #FF2626;
}
.filter {
    cursor: pointer;
}
.Product {
    text-align: center;
    height: 450px;
    width: 100%;
    margin: auto;
    background: #e9e8e8;
    position: relative;
    overflow: hidden;
    margin: 15px 0;
    transition: 0.4s all;
    border-radius: 15px;
    &:hover{
        background: #FF2626;
        transition: 0.4s all;
        box-shadow: 0 0 50px #bfbfbf59;
    }
    &:before {
        content: '';
        position: absolute;
        width: calc(100% + 120px);
        height: 130%;
        background: #f8f8f8;
        border-radius: 50%;
        left: -60px;
        top: -160px;
    }
}
.single_item_wrapper img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.single_item_wrapper , .value-info{
    position: relative;
}
.value-info h4 a{
    font-weight: bold;
    color: #121212;
    transition: 0.4s all;
}
.Product:hover .value-info h4 a{
    color: #FF2626;
    transition: 0.3s all;
}
.value-info h6 {
    background: #FF2626;
    width: 185px;
    padding: 3px;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: auto;
    margin-top: 20px;
}
.testimonial {
    background: url(../images/testimonial-home.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    .opacity {
        background: rgba(0,0,0,0.75);
        width: 100%;
    }
    .item img {
        height: auto;
        width: auto;
        display: inline;
        position: absolute;
        top: 65px;
        left: 0px;
        border-radius: 50%;
    }
    .info_wrapper{
        margin: 65px 25px;
    }
    .info_wrapper .brief-content {
        background: #ffffff;
        text-align: center;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        h6 {
            color: #000000;
            opacity: 0.7;
            line-height: 30px;
            padding: 60px 45px 90px 45px;
            margin-top: 25px;
        }
        &::before{
            position: absolute;
            content: '';
            height: 0;
            width: 0;
            border: 0px solid transparent;
            border-bottom-color: #fff;
            border-width: 0px 0px 18px 15px;
            right: 60px;
            top: -18px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        span:nth-child(2) {
            width: 20px;
            height: 20px;
            background-color: #e8e5e5;
            position: absolute;
            bottom: 50px;
            left: 40px;
            &::after{
                position: absolute;
                content: '';
                height: 0;
                width: 0;
                border: 0px solid transparent;
                border-top-color: #e8e5e5;
                border-width: 18px 20px 0px 0px;
                left: 0px;
                top: 20px;
            }
        }
        span:nth-child(3) {
            width: 20px;
            height: 20px;
            background-color: #e8e5e5;
            position: absolute;
            bottom: 50px;
            left: 75px;
            &::after{
                position: absolute;
                content: '';
                height: 0;
                width: 0;
                border: 0px solid transparent;
                border-top-color: #e8e5e5;
                border-width: 18px 20px 0px 0px;
                left: 0px;
                top: 20px;
            }
        }
    }
    
}

.client_info{
    display: flex;
    width: 90px;
    height: 90px;
    & img{
        border-radius: 50%;
    }
    .name {
        color: #fff;
        span{
            font-size: 14px;
            width: max-content;
            margin-top: -20px;
            margin-right: 12px;
            display: block;
        }
        h6{
            line-height: 81px;
            font-weight: 700;
            width: max-content;
            margin-right: 12px;
        }
    }
}
input {
    padding: 13px 30px;
    border-radius: 50px;
    border: none;
    background: #f6f8fa;
    color: #4d486f;
    transition: 0.3s all;
}
input::placeholder{
    color: #4d486f98!important;
}
textarea {
    padding: 30px 30px;
    border-radius: 50px;
    border: none;
    background: #f6f8fa;
    color: #4d486f;
    transition: 0.3s all;
}
input:focus , textarea:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 20px #e6edf5;
    transition: 0.3s all;
}
.text-right{
    text-align: right;
}
.contact-us{
    textarea{
        width: 75%;
        min-height: 250px;
        max-height: 500px;
        &::placeholder{
            color: #4d486f98!important;
        }
    }
    button{
        width: 75%;
        border: none;
        border-radius: 50px;
        padding: 13px;
        background: #FF2626;
        color: #fff;
        transition: 0.3s all;
        &:hover{
            box-shadow: 0 0 20px #FF2626;
            transition: 0.3s all;
        }
    }
}
.icon-box{
    padding: 30px 25px;
    background: #fff;
    margin: 25px 0;
    border-radius: 25px;
    transition: 0.3s all;
    &:hover{
        box-shadow: 0 0 50px #bfbfbf59;
        transition: 0.3s all;
    }
    .icon{
        height: 70px;
        width: 70px;
        text-align: center;
        line-height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        margin-bottom: 30px;
    }
    p{
        line-height: 1.4rem;
    }
}
.counter{
    span{
        font-size: 38px!important;
        font-weight: 600!important;
        display: inline!important;
        color: #4d486f!important;
    }
}
.social-menu{
    display: flex;
    align-items: center;
    a{
        background: #f6f8fa;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        box-shadow: 0 0 25px #bfbfbf66;
        margin: 15px 0 0 15px;
        border-radius: 15px;
        transition: 0.3s all;
        &:hover{
            transition: 0.3s all;
            box-shadow: none;
            transform: scale(1.1);
        }
        &:nth-child(1):hover{
            background:#FCAF45;
            color:#fff;
        }
        &:nth-child(2):hover{
            background: #0088CC;
            color: #fff;
        }
        &:nth-child(3):hover{
            background:#25D366;
            color: #fff;
        }
    }
}
@media (max-width: 767px){
    .social-menu{
        a{
            margin: 15px 15px;
        }
    }
}
.product-section{
    border-radius: 15px;
    box-shadow: 0 0 50px #bfbfbf59;
    position: relative;
    min-height: 700px;
    .product-description{
        line-height: 1.8rem;
    }
}
.product-image{
    width: 100%;
    height: 360px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
}
.product-gallery{
    position: relative;
    display: flex;
    height: 110px;
    img{
        width: 110px;
        height: 100%;
        object-fit: cover;
        margin: 5px 0 0 10px;
        border-radius: 15px;        
    }
    .owl-nav{
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 55%;
        transform: translateY(-50%);
        button{
            background: #f6f8fa !important;
            box-shadow: 0 0 10px #8f8f8f66;
            font-size: 2rem !important;
            padding: 0px 15px;
            border-radius: 8px;
            &.owl-prev{
                position: absolute;
                right: -15;
            }
            &.owl-next{
                position: absolute;
                left: -15;
            }
        }

    }

}
.img-gallery{
    transition: 0.2s;
    &.active{
    transition: 0.2s;
    border: 4px solid #c4c4c4;
    padding: 4px;
    }
}
.share-social{
    position: absolute;
    left: 10px;
    width: fit-content;
    p{
        position: absolute;
        width: 170px;
        left: -25px;
        top: -20px;
    };
    span{
        background: #f6f8fa;
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        box-shadow: 0 0 25px #bfbfbf66;
        margin: 15px 0 0 15px;
        border-radius: 15px;
        transition: 0.3s all;
        &:hover{
            transition: 0.3s all;
            box-shadow: none;
            transform: scale(1.1);
        }
        &:nth-child(2):hover{
            background: #0088CC;
            color: #fff;
        }
        &:nth-child(3):hover{
            background:#25D366;
            color: #fff;
        }
        &:nth-child(4):hover{
            background:#1877f2;
            color: #fff;
        }
    }
}